fastapi==0.116.1
uvicorn==0.35.0
python-dotenv==1.1.1

requests==2.32.4
msal==1.33.0

langchain==0.3.27
langchain-community==0.3.27

chromadb==1.0.15

sentence-transformers==5.0.0
transformers==4.54.1
torch

PyMuPDF==1.26.3
python-docx==1.2.0

ollama==0.5.1

pydantic==2.11.7